@charset "UTF-8";
html,
body {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  color: #101010;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch;
}

p {
  font-size: 13px;
}
p.italic {
  font-style: italic;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:focus {
  color: #101010;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #c2151c;
  text-decoration: none;
}

label {
  font-weight: 300;
  color: #646464;
}
label.error {
  color: red;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}
.text-blakish {
  color: #333333;
}

.text-blue {
  color: #2653a6;
}

.trans {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bg-grey {
  background-color: #f5f5f5;
}

.btn,
.btn:link,
.btn:focus,
.btn:visited,
.btn:active {
  padding: 6px 10px;
  color: #fff;
  outline: 0;
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.btn:focus, .btn:link:focus, .btn:focus:focus, .btn:visited:focus, .btn:active:focus {
  box-shadow: none;
}

.btn-blue,
.btn-blue:link,
.btn-blue:focus,
.btn-blue:visited,
.btn-blue:active {
  padding: 15px 40px;
  background-color: #2653a6;
  font-family: "proxima_nova_ltlight";
  font-size: 18px;
}
.btn-blue:hover,
.btn-blue:link:hover,
.btn-blue:focus:hover,
.btn-blue:visited:hover,
.btn-blue:active:hover {
  color: #2653a6;
  background-color: #fff;
  border-color: #2653a6;
}

.btn-normal,
.btn-normal:link,
.btn-normal:focus,
.btn-normal:visited,
.btn-normal:active {
  background-color: #F3F3F3;
  color: #101010;
  width: auto;
  padding: 6px 10px;
  border-radius: 0px;
  display: inline-block;
  border: solid 1px #C0C0C0;
  font-family: "Roboto", sans-serif;
}
.btn-normal:hover,
.btn-normal:link:hover,
.btn-normal:focus:hover,
.btn-normal:visited:hover,
.btn-normal:active:hover {
  color: #c2151c;
  background-color: #fff;
}

.btn-red,
.btn-red:link,
.btn-red:focus,
.btn-red:visited,
.btn-red:active {
  padding: 6px 10px;
  background-color: #c20001;
  font-family: "proxima_nova_ltlight";
  font-size: 18px;
}
.btn-red:hover,
.btn-red:link:hover,
.btn-red:focus:hover,
.btn-red:visited:hover,
.btn-red:active:hover {
  color: #c20001;
  background-color: #fff;
  border-color: #c20001;
}

.form-control {
  width: 100%;
  padding: 13px;
  border: 1px solid #dadada;
  border-radius: 2px;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  height: 45px;
}

.popup_content {
  background-color: #fff;
  padding: 50px;
  max-width: 700px;
}
.popup_content .popup_close_btn {
  position: absolute;
  right: 5px;
  top: 0;
  width: auto;
  height: 30px;
  line-height: 30px;
  color: #101010;
  font-weight: 600;
  outline: none;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.popup_content--widthfull {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .popup_content {
    padding: 50px 20px;
  }
}

.mainCt {
  height: 100%;
  margin-top: 64px;
}

.contentCt {
  width: 100%;
  padding-left: 240px;
  padding-top: 20px;
  background-color: #fff;
}

/* Sidebar and Menu Bar ============*/
.sidebarCt {
  position: fixed;
  left: -1px;
  width: 230px;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  border-top: none;
  z-index: 1;
}
.sidebarCt .box-circle a {
  margin-top: 1px;
  display: block;
  padding: 10px;
  color: #3f51b5;
}
.sidebarCt .box-circle a:hover {
  background-color: #3f51b5;
  color: #fff;
  text-decoration: none;
}
.sidebarCt .box-circle a.active {
  background-color: #3f51b5;
  color: #fff;
  text-decoration: none;
}

.evidenceCt .table td, .evidenceCt .table th {
  padding: 5px !important;
}
.evidenceCt table td:first-child {
  padding-left: 0px !important;
}
.evidenceCt .form-control {
  padding: 5px;
  border-radius: 0px;
  font-size: 14px;
}
.evidenceCt button {
  vertical-align: sub;
}

.loader {
  display: none;
  margin-top: -35px;
  margin-left: -35px;
  font-size: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-indent: -9999em;
  border-top: 10px solid rgba(255, 255, 255, 0.8);
  border-right: 10px solid rgba(255, 255, 255, 0.8);
  border-bottom: 10px solid rgba(255, 255, 255, 0.8);
  border-left: 10px solid #87bd1f;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  z-index: 100001;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* Custom CSS -----------------*/
#root {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header > .inner {
  position: relative;
  height: 64px;
  padding: 20px;
  color: #FFFFFF;
  background-color: #3f51b5;
}
header > .inner .siteUrl {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 23px;
  border: 3px solid #fff;
  padding: 2px 10px;
  border-radius: 4px;
}
header > .inner .siteUrl img {
  width: 100%;
}
header > .inner .logoutCt {
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 25px;
  color: #fff;
}
header > .inner .logoutCt img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
}
header > .inner .menuCt {
  position: absolute;
  display: inline;
  top: 64px;
  right: 0px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0px #737373;
}
header > .inner .menuCt button {
  width: 100%;
  display: block;
  padding: 5px 15px;
  border: none;
  color: #000;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
header > .inner .menuCt button:hover {
  background-color: #f3f3f3;
}

.login_block {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  padding: 20px;
  background-image: url("../images/demo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login_block .inner {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 200px;
}
.login_block .inner h2 {
  color: #fff;
}
.login_block .text_wrapper {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0px #737373;
  border-radius: 5px;
}
.login_block .signup a {
  display: block;
  font-style: italic;
  font-size: 14px;
}

.footer_block {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  color: #fff;
  background-color: #000;
  z-index: 2;
}

/* ==================================== */
/*		  	  Navigaton Menu		
/* ==================================== */
.pageCt {
  /*margin-top: -22px;*/
  position: relative;
}
.pageCt .menuCt {
  width: 250px;
  float: left;
}

.menu-wrap {
  background-color: #222222;
  position: inherit;
  top: 0;
  height: 100%;
  width: 250px;
  margin-left: -280px;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  transition: 0.25s;
  z-index: 10;
}

.menu-show {
  margin-left: 0;
  box-shadow: 1px 1px 10px 0px #737373;
}

.menu-sidebar {
  margin: 10px 0 10px 10px;
  position: relative;
  top: 70px;
}

.menu-sidebar li {
  padding: 18px 22px 0;
}

.menu-sidebar li > a {
  position: relative;
  color: #f3f3f3;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.menu-sidebar li > a::after {
  content: "";
  display: block;
  height: 0.15em;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  background-image: linear-gradient(to right, transparent 50.3%, #fff 50.3%);
  transition: background-position 0.2s 0.1s ease-out;
  background-size: 200% auto;
}

.menu-sidebar li > a:hover::after {
  background-position: -100% 0;
}

.menu-sidebar .menu-item-has-children {
  position: relative;
}

.menu-sidebar .menu-item-has-children .sub-menu {
  display: none;
}

.sidebar-menu-arrow::after {
  content: "";
  font-family: "FontAwesome";
  padding: 10px;
  color: #fff;
  position: relative;
}

.sidebar-menu-arrow:hover::after {
  cursor: pointer;
  color: #fff;
}

.sidebar-menu-arrow:active::after {
  top: 2px;
}

/*Hamburger Button*/
.toggle-button {
  position: absolute;
  width: 44px;
  height: 40px;
  top: 30px;
  left: 40px;
  padding: 4px;
  transition: 0.25s;
  z-index: 15;
}
@media screen and (max-width: 991px) {
  .toggle-button {
    top: 25px;
    left: 12px;
  }
}

.toggle-button:hover {
  cursor: pointer;
}

.toggle-button .menu-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: 0.5s;
}

.toggle-button .menu-bar-top {
  border: 4px solid #555;
  border-bottom: none;
  top: 0;
}

.toggle-button .menu-bar-middle {
  height: 4px;
  background-color: #555;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}

.toggle-button .menu-bar-bottom {
  border: 4px solid #555;
  border-top: none;
  top: 22px;
}

.menu_text {
  margin-left: 45px;
  font-size: 25px;
  line-height: 0;
  color: #555;
  background-color: transparent;
}

.button-open {
  left: 25px;
}
.button-open .menu_text {
  color: #fff;
}

.button-open .menu-bar-top {
  border-color: #fff;
  transform: rotate(45deg) translate(8px, 8px);
  transition: 0.5s;
}

.button-open .menu-bar-middle {
  background-color: #fff;
  transform: translate(230px);
  transition: 0.1s ease-in;
  opacity: 0;
}

.button-open .menu-bar-bottom {
  border-color: #fff;
  transform: rotate(-45deg) translate(7px, -7px);
  transition: 0.5s;
}

.backgroundColor {
  background-color: #f4f6f8;
}

.sidenav---sidenav---_2tBP {
  position: fixed;
  top: 64px;
  background: #3f51b5;
}

.sidenav---sidenav-toggle---1KRjR .sidenav---icon-bar---u1f02 {
  background-color: #000000 !important;
}

.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo,
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f,
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navicon---3gCRo > *,
.sidenav---sidenav-nav---3tvij > .sidenav---sidenav-navitem---uwIJ- > .sidenav---navitem---9uL5T .sidenav---navtext---1AE_f > * {
  color: #000 !important;
}

.main-class-body {
  position: absolute;
  top: 64;
}

/*# sourceMappingURL=app.css.map */
